.errorMessge {
	display: grid;
	place-content: center;
    margin-top: 150px;
    color: #62c462;
}
.img-error {
    display: grid;
	place-content: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    object-fit: cover;
    background: url('./error.png') no-repeat;
    margin: 50px auto;
    background-size: contain;
}