.imgInfoCharacter {
  max-width: 100%;
  height: auto;
  border-radius: .25rem;
  margin: 0px 0px 15px 15px;
}
.info-properties {
  color:#62c462;
}
.phrase {
  font-style: italic;
}
.img-logo {
  width: 125px;
  margin: 10px;
}
.btn-back {
  background-image: linear-gradient(#52565a,#3a3f44 60%,#353a3f);
  border-color: rgba(0,0,0,.6);
  text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
  padding: .25rem .5rem;
  font-size: .875rem;
  width: 98px;
  height: 25px;
  right: 10px;
  position: absolute;
  padding-top: 0px;
  margin-top: 10px;
  color: #fff;
}
.btn-lang {
  color: #aaa;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.6);
  padding: .75rem 1rem;
  border-radius: .25rem;
  float: right;
  
}
.active {
  color: #62c462;
}
.header-title {
  color: #7a8288!important;
  margin-top: 20px;
  font-size: 1.45rem;
  text-align: center;
}
